body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #536DFE !important
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

p {
    color: white;
}

.search {
    margin-bottom: auto;
    margin-top: 200px;
    height: 70px;
    background-color: #fff;
    padding: 10px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 550px;
    caret-color: #536bf6;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search:hover>.search-icon {
    background: #1A237E;
    color: #fff
}

.search-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6
}

a:link {
    text-decoration: none
}

table {
    border-spacing: 0px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
}