{% load static %}
<!DOCTYPE HTML>
<html lang="en">

<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href={% static 'style.css' %}>
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.2/css/all.css'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js'></script>
</head>

<body>
    <div class="container">
        <h1 class="display-4">Tweet Sentiment Analysis Using IndoBERT</h1>
        <p class="lead">This is a simple inference in IndoBERT model.</p>
        <hr class="my-4">
        {% block content %} {% endblock %}
    </div>
</body>

</html>